@import url('https://fonts.googleapis.com/css2?family=Dosis&family=Edu+NSW+ACT+Foundation:wght@500&family=Lobster&display=swap');
/* FONTS: Lobster - TITLE 
        EDNU - Subtitle 
        Dosis - text */
/* font-family: 'Dosis', sans-serif;
        font-family: 'Edu NSW ACT Foundation', cursive;
        font-family: 'Lobster', cursive; */


/* CSS ROOT HEX COLOURS */
:root {
  --bice-blue: #006faaff;
  --ash-gray: #9bc1bcff;
  --alabaster: #e6ebe0ff;
  --robin-egg-blue: #36c9c6ff;
  --princeton-orange: #ff9914ff;
}

.background{
  background-color: #e6ebe0ff;
}



/* TODO: HEADER  */
.header{
  background-color: #006faaff;
}
.businessName{

  font-family: 'Lobster', cursive;
  margin-left: 5%;
  padding-top: 3%;
}

.nav-tabs {
  display: flex;
  justify-content: space-between;
  margin: 15px;
}

.nav-item {
  font-family: 'Edu NSW ACT Foundation', cursive;
}

.signin-btn {
  font-family: 'Edu NSW ACT Foundation', cursive;
}

.signup-btn {
  font-family: 'Edu NSW ACT Foundation', cursive;
}


/* TODO: FOOTER  */
.footer {
  display: flex;
  justify-content: center;
  padding-bottom: 20%;
  margin-top: 10%;
  font-family: 'Edu NSW ACT Foundation', cursive;
  font-size: 20px;
}

/* TODO HOME  */
.home-img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 6%;
}
.home-title {
  font-family: 'Edu NSW ACT Foundation', cursive;
  margin: 15px;
  text-align: center;
}

.home-description {
  font-family: 'Dosis', sans-serif;
  margin: 15px;
  text-align: center;
}


/* TODO ABOUT US  */
/* .about-us{
  background-color: #e6ebe0ff;
} */
.about-title{
  font-family: 'Edu NSW ACT Foundation', cursive;
  text-align: center;
  margin-top: 50px;
}

.about-info {
  margin-left: 10%;
  margin-right: 10%;
  font-family: 'Dosis', sans-serif;
  font-size: 18px;
}

/*  Store.js */
.cart-modal {
  padding-bottom: 10%;
}

/* CartComponent.js Odd naming structure is created by React-Bootstrap */
.cart-title.modal-header {
  background-color: var(--ash-gray);
}

/* Button to open Cart  */
.btn.btn-view-cart-btn {
  background-image: linear-gradient(to right, var(--ash-gray) 0%, var(--robin-egg-blue) 100%);
  /* background-color: var(--bice-blue); */
  color: var(--bice-blue);
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer
}

.btn.btn-view-cart-btn:hover {
  background-image: linear-gradient(to right, #ffca85 0%, #ff9914 100%);
  box-shadow: var(--ash-gray);
  transform: translateY(-7px);
  color: var(--bice-blue);
}

.btn.btn-purchase-btn {
  background-color: var(--princeton-orange);
  color: var(--alabaster)
}

.btn.btn-purchase-btn:hover {
  background-color: var(--robin-egg-blue);
  color: var(--bice-blue);
}

/*Cart Product*/
.btn.btn-cart-remove {
  background-color: var(--bice-blue);
  color: var(--alabaster);
}

.btn.btn-cart-remove:hover {
  background-color: var(--ash-gray);
  color: var(var(--bice-blue));
}


/* ProductCard.js Odd naming structure is created by React-Bootstrap */
.treatImage {
  height: auto;
  max-height: 225px;
  width: auto;
}

.card.productCard {
  background-color: var(--ash-gray);
}

.btn.btn.btn-custom {
  background-color: var(--bice-blue);
  color: var(--alabaster);
}

.btn.btn.btn-custom:hover {
  background-color: var(--princeton-orange);
  color: var(--alabaster);
}

.btn.btn.btn-remove {
  background-color: var(--princeton-orange);
  color: black;
}

.btn.btn.btn-remove:hover {
  background-color: var(--princeton-orange);
  color: black;
}


/* TODO LOGIN  */
.login-title {
  font-family: 'Edu NSW ACT Foundation', cursive;
  text-align: center;
  margin-top: 50px; 
}

.login-card {
  display: flex;
  justify-content: center;
  margin: 2% 30%;
  background-color: #9bc1bcff !important;
  align-items: center;
}

.email-input {
  margin: 15px;
}

.password-input {
  margin: 15px;
}

.signup-instead {
  margin: 15px;
}

.login-btn {
  margin: 15px 20px;
}

.error-text {
  background-color: yellow
}


/* TODO SIGN OUT */



.Navigation-bar {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--bice-blue);
}

/* .Navigation-bar > .navs {
  font-weight: 700;
  font-size: 21px;
  margin: 15px;
  color: #ffffff;
} */

.Navigation-bar>.nav-items>a {
  color: var(--alabaster);
  font-size: 16px;

  font-weight: bold;
  text-decoration: none;
  margin: 15px;
  position: relative;
  opacity: 0.9;
}

.Navigation-bar>.nav-items>a:hover {
  opacity: 1;
}

.Navigation-bar>.nav-items>a::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background: var(--princeton-orange);
  transition: all 0.45s;
}

.Navigation-bar>.nav-items>a:hover::before {
  width: 100%;
}

.Navigation-bar>.nav-toggle {
  display: none;
}

@media (max-width: 700px) {
  .Navigation-bar>.nav-items {
    position: absolute;
    top: 60px;
    display: flex;
    flex-direction: column;
    background: #3b4da7;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateX(-100%);
    /* transition: all .45s; */
  }

  .Navigation-bar>.nav-items.open {
    transform: translateX(0);
  }

  .Navigation-bar>.nav-toggle {
    display: flex;
    width: 50px;
    height: 50px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

  .nav-toggle>.bar {
    position: relative;
    width: 32px;
    height: 2px;
    background: #ffffff;
    transition: all 0.45s ease-in-out;
  }

  .nav-toggle>.bar::before,
  .nav-toggle>.bar::after {
    content: "";
    position: absolute;
    height: 2px;
    background: #ffffff;
    border-radius: 2px;
    transition: all 0.45s ease-in-out;
  }

  .nav-toggle>.bar::before {
    width: 25px;
    transform: translateY(-8px);
    right: 0;
  }

  .nav-toggle>.bar::after {
    width: 32px;
    transform: translateY(8px);
  }

  .nav-toggle.open>.bar {
    transform: translateX(-40px);
    background: transparent;
  }

  .nav-toggle.open>.bar::before {
    width: 32px;
    transform: rotate(45deg) translate(26px, -26px);
  }

  .nav-toggle.open>.bar::after {
    transform: rotate(-45deg) translate(26px, 26px);
  }


}